/* tag "id" é chamado com # e tag class é chamado com . */
/* class é repetitivo, id não */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    /* coloca itens na mesma linha */
    align-items: center;
    /* alinha itens ao centro */
    justify-content: space-evenly;
    /* Alinha uniformemente os itens */
    padding: 30px;
    /* cuida do prenchimento */
    /* background-color: #291205; */

    background: linear-gradient(180deg, #feffb8 8%, #291205 50%);

    /* prenche cor do header */
    overflow: hidden;
    /*  */
    line-height: 200px;
    /* altura da linha */
    max-height: 200px;
    /* altura maxima */
}

header>img {
    width: 15rem;
    /*largura de nossa img*/
    height: 15rem;
    /*tamanho de nossa img*/
}

/* Selecionamos aqui a cor da letra do nosso H1 ou seja, do nosso titulo */
header>h1 {
    color: rgb(241, 233, 152);
    font-size: 4rem;
}

/* nosso menu de navegação */
#menu-header {
    display: flex;
    /*Responsavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center;
    /*ALINHAR OS ITENS DO NOSSO HEADER PARA O CENTRO*/
}

#list-menu {
    /*Nossa lista não ordenada, aqui mudaremos diretamente nossa lista*/
    display: flex;
    /*coloca itens na mesma linha lado ao lado*/
    margin-right: 1rem;
    /*margin direita. 1rem equivale a 16px*/
}

.item-menu-header {
    /*nossa li dentro do list menu no header*/
    margin-right: 25px;
    /*margem da direita*/
}

.item-menu-header>a:hover {
    /*nossas li que estao dentro do list menu. (a) nossa tag de link que é representada por: HOME/PRODUTO/CONTATO, e o hover reeponsavel pela modificação de cor ao passar o cursor em cima*/
    color: yellow;
    transition: 1s;
    /*tempo que será exibido ao passar o cursor*/
}

.item-menu-header>a {
    /*nossas li que estao dentro do list menu. (a) nossa tag de link que é representada por: HOME/PRODUTO/CONTATO*/
    color: white;
    text-decoration: none;
    /*Responsavel por tirar o sublinhado inferior*/
    font-size: 12px;
    /*tamanho da letra*/
}

#botao-header {
    /*Nossa ID do botao de login*/
    display: flex;
    /*Responsavel por colocra os itens na mesma linha (lado a lado)*/
}

#botao-header>button {
    /*Aqui chamamos nossa ID e onde queremos fazer alterações, no caso o nosso BOTÃO*/
    padding: 8px;
    /*cUIDA DO PRENCHIMENTO*/
    background-color: transparent;
    /*fundo do botão transparente*/
    border: none;
    /*None é usado para retirar algo, nesse caso a borda*/
}

#botao-header>button>a {
    /*Aqui chamamos nossa tag de link para alteração*/
    display: flex;
    /*Responsavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center;
    /*Alinhar os itens para o centro*/
}

#botao-header>button>a>img {
    /*aqui estamos mexendo no icon do botão*/
    width: 35px;
    /*largura*/
    height: 35px;
    /*tamanho*/
    margin-right: 2px;
    /*margen da direita*/
}

#botao-header>button>a {
    color: white;
    /*da cor a letra*/
    text-decoration: none;
    /*tira sublinhado e cor de link*/
    font-weight: 900;
    /*espesura da fonte*/
    /* font-size: 25px; */
    /*tamanho da fonte*/

}

#img-destaque {
    /*id*/
    background-image: url(imagens/padaria.webp);
    /*inserimos uma imagen que esta contida nossa pasta imagens*/
    padding: 260px;
    /*preenchimento da imagem*/
    background-position: center;
    /*centraliza a imagen na tela*/
    background-size: cover;
    /*ajusta a imagem ate aproveitar o 100% */
}

.img-div {
    /*class*/
    padding: 25px;
    /*preenche*/
    background-image: url(imagens/img-div.jpg);
    background-position: center;
    background-size: auto;
}

#clients>h2 {
    text-align: center;
    /*ALINHA TEXTO*/
    font-size: 36px;
    /*TAMANHO LETRA*/
    margin-top: 0px;
    /*ESPAÇAMENTO*/
    margin-bottom: 0px;
}

#clients {
    background-color: #feffb8;
    padding: 40px;
    margin-top: 0;
}

.line {
    margin: 0 auto;
    width: 30%;
    margin-bottom: 50px;
}

#clients-list {
    display: flex;
    /*facilita o alinhamento dos itens. lado a lado, mais dinámicos, permite conferir mais atribuições*/
    align-items: center;
    /*alinha itens no centro*/
    justify-content: space-evenly;
    /*espaçamento uniforme entre itens*/
    margin-top: 35px;
    /*margin superior*/
}

.clients-item {
    display: flex;
    /*facilita o alinhamento dos itens. lado a lado, mais dinámicos, permite conferir mais atribuições*/
    justify-content: center;
    /*espaçamento uniforme entre itens*/
    align-items: center;
    /*alinha itens no centro*/
    flex-direction: column;
    /*alinha em forma de coluna*/
}

.clients-item>img {
    width: 84px;
    /*Largura imagen*/
    height: 84px;
    /*Altura imagen*/
}

.clients-item>h3 {
    font-family: cursive;
    font-size: 32px;
    margin-top: 10px;
    align-items: center;
}

.clients-item>p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
}

/*
*********#clients-list {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8rem;
    padding: 5rem;
}

section>h2 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 35rem;
    color: #5f2604;
}

.line {
   
    width: 50%;
    padding: 1px;
    background-color: #813408;
    margin-left: 23rem;
}


#clients-list>li>img {
    margin-right: 27rem;
    width: 7rem;
 }

#clients-list>li>h3 {
    font-size: 30px;
    margin-left: -3rem;
}

#clients-list>li>p {
    font-size: 20px;
    margin-left: -5rem;
    font-family:cursive ;
}*/

#products {
    /* id*/
    padding: 100px;
    /*preenchimento*/
    background: linear-gradient(360deg, #feffb8 8%, #291205 75%);
    /*Aqui utilizamos uma estilização de fondo degrade*/
}

#products>h2 {
    /*id*/
    text-align: center;
    /*ALINHA TEXTO*/
    font-size: 36px;
    /*TAMANHO LETRA*/
    margin-top: -50px;
    /*ESPAÇAMENTO*/
    margin-bottom: 0px;
    color: #feffb8;
}

.img-product {
    /*class*/
    /*ID usada para a section do produtos*/
    width: 23rem;
    /*largura imagen*/
    height: 22rem;
    /*altura imagen*/
    border-radius: 25%;
    /*suaviza OU ARRENDONDA bordas da imagen*/
}

.section-products {
    /*class*/
    /*Chamamos nossa div Pai para estilização*/
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.title-products {
    /*class*/
    /*Chamamos nosso titulo para estilização*/
    margin-top: 10px;
    /*Espaçamento do titulo em relação a img*/
    text-align: center;
    /*Alinhamento do texo ao centro*/
    font-size: 30px;
    /*tipo letra*/
    color: #feffb8;
    /*Cor da fonte*/
}

#products>a {
    /*id*/
    /*estilizamos a tag "a"*/
    text-decoration: none;
    /*Tira sulinhado*/
    font-family: cursive;
    /*tipo de fonte*/
    font-size: 25px;
    /*tamanho da fonte*/
    color: #291205;
    /*cor da fonte*/
    display: flex;
    /*tornando em flex, permite maior control dos itens*/
    justify-content: center;
    /*Alinhado ao centro*/
    text-align: center;
    /*alinhado ao centro, complemento*/

}

#products>a:hover {
    /*id*/
    /*estilizamos a tag "a" para quando passamos o mause acima*/
    font-size: 27px;
    /*tamanho da fonte*/
    transition: 0.8s;
    /*tempo que demora a transição*/
    color: rgb(38, 0, 255);
    /*novo color ao passar o mouse*/

}

#sobre-nos {
    /*id*/
    /*chamamos o id sobre-nos para estilização*/
    background-image: url(imagens/fundo-sobre-nos.jpg);
    /*inserimos a imagen*/
    background-repeat: no-repeat;
    /*evitamos que a imagen seja repetida*/
    background-position: center;
    /*posicionamento da imagen ao centro*/
    background-size: 100%;
    /*habilitamos o tamanho da imagen ao 100% da tela*/
    background-attachment: fixed;
    /*deixa a imagen fixada*/
    padding: 5rem;
    /*tamanho do preenchimento*/

}

#sobre-nos>h3 {
    /*id*/
    /*chamamos nossa tag "h3" para estilização*/
    color: #feffb8;
    /*damos cor na letra*/
    font-size: 50px;
    /*damos tamanho na fonte*/
    text-align: center;
    /*Alinhamos o texto ao centro*/
    font-family: 'Times New Roman', Times, serif;
    /*escolhemos tipo de fonte*/

}

#sobre-nos>p {
    /*id*/
    /*Chamamos a tag "p" para estilização*/
    color: #feffb8;
    /*damos cor na letra*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*tipo de fonte*/
    font-size: 20px;
    /*tamanho da fonte*/
    margin-top: 30px;
    /*margin superior*/
    margin-bottom: 30px;
    /*margin inferior*/
    margin-left: 50px;
    /*margin esquerdo*/
    margin-right: 50px;
    /*margin direito*/
    text-align: left;
    /*Alinhamento do paragrafo a esquerda*/
    font-weight: 900;
    /*espesura fonte*/
}

#contatos {
    /*id*/
    padding: 80px;
    /*tamanho do preenchimento*/
    background-image: url(imagens/img-footer.jpg);
    /*estabelece imagem de fundo*/
    background-repeat: no-repeat;
    /*evitamos que a imagen seja repetida*/
    background-position: bottom;
    /*posicionamento da imagen para abaixo*/
    background-size: 100%;
    /*habilitamos o tamanho da imagen ao 100% da tela*/
    background-attachment: fixed;
    /*deixa a imagen fixada*/
}

#contatos>a>img {
    width: 2rem;
    height: 2rem;
    margin-left: 55rem;
   }

#contatos > a {
  text-decoration: none;
  font-size: 25px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#291205;
  font-weight: 900;
text-align: right;


}

#contatos>ul {
    display: flex;
    justify-content: space-evenly;
}

#contatos>h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
}

.item-menu-footer>img {
    /*aqui chamamos nossa IMG para estilização*/
    align-items: center;
    margin-top: 30px;
    /**/
    display: flex;
    /* alinhado dos itens lado a lado */
    width: 5rem;
    /*largura imagen*/
    height: 5rem;
    /*altura imagen*/
}

.item-menu-footer>p {
    /*aqui chamamos nossa tag p para estilização*/
    color: #000000;
    /*cor da letra*/
    font-size: 25px;
    /*tamanho da letra*/
    font-weight: bold;
    /*espessura da letra*/
    margin-left: 10px;
    /*espaçamento à esquerda*/

}