/* tag "id" é chamado com # e tag class é chamado com . */
/* class é repetitivo, id não */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    /* coloca itens na mesma linha */
    align-items: center;
    /* alinha itens ao centro */
    justify-content: space-evenly;
    /* Alinha uniformemente os itens */
    padding: 30px;
    /* cuida do prenchimento */
    /* background-color: #291205; */

    background: linear-gradient(180deg, #feffb8 8%, #291205 50%);

    /* prenche cor do header */
    overflow: hidden;
    /*  */
    line-height: 200px;
    /* altura da linha */
    max-height: 200px;
    /* altura maxima */
}

header>img {
    width: 15rem;
    /*largura de nossa img*/
    height: 15rem;
    /*tamanho de nossa img*/
}

/* Selecionamos aqui a cor da letra do nosso H1 ou seja, do nosso titulo */
header>h1 {
    color: rgb(241, 233, 152);
    font-size: 4rem;
}

/* nosso menu de navegação */
#menu-header {
    display: flex;
    /*Responsavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center;
    /*ALINHAR OS ITENS DO NOSSO HEADER PARA O CENTRO*/
}

#list-menu {
    /*Nossa lista não ordenada, aqui mudaremos diretamente nossa lista*/
    display: flex;
    /*coloca itens na mesma linha lado ao lado*/
    margin-right: 1rem;
    /*margin direita. 1rem equivale a 16px*/
}

.item-menu-header {
    /*nossa li dentro do list menu no header*/
    margin-right: 25px;
    /*margem da direita*/
}

.item-menu-header>a:hover {
    /*nossas li que estao dentro do list menu. (a) nossa tag de link que é representada por: HOME/PRODUTO/CONTATO, e o hover reeponsavel pela modificação de cor ao passar o cursor em cima*/
    color: yellow;
    transition: 1s;
    /*tempo que será exibido ao passar o cursor*/
}

.item-menu-header>a {
    /*nossas li que estao dentro do list menu. (a) nossa tag de link que é representada por: HOME/PRODUTO/CONTATO*/
    color: white;
    text-decoration: none;
    /*Responsavel por tirar o sublinhado inferior*/
    font-size: 12px;
    /*tamanho da letra*/
}

#botao-header {
    /*Nossa ID do botao de login*/
    display: flex;
    /*Responsavel por colocra os itens na mesma linha (lado a lado)*/
}

#botao-header>button {
    /*Aqui chamamos nossa ID e onde queremos fazer alterações, no caso o nosso BOTÃO*/
    padding: 8px;
    /*cUIDA DO PRENCHIMENTO*/
    background-color: transparent;
    /*fundo do botão transparente*/
    border: none;
    /*None é usado para retirar algo, nesse caso a borda*/
}

#botao-header>button>a {
    /*Aqui chamamos nossa tag de link para alteração*/
    display: flex;
    /*Responsavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center;
    /*Alinhar os itens para o centro*/
}

#botao-header>button>a>img {
    /*aqui estamos mexendo no icon do botão*/
    width: 35px;
    /*largura*/
    height: 35px;
    /*tamanho*/
    margin-right: 2px;
    /*margen da direita*/
}

#botao-header>button>a {
    color: white;
    /*da cor a letra*/
    text-decoration: none;
    /*tira sublinhado e cor de link*/
    font-weight: 900;
    /*espesura da fonte*/
    /* font-size: 25px; */
    /*tamanho da fonte*/

}

#img-destaque {
    /*id*/
    background-image: url(imagens/padaria.webp);
    /*inserimos uma imagen que esta contida nossa pasta imagens*/
    padding: 260px;
    /*preenchimento da imagem*/
    background-position: center;
    /*centraliza a imagen na tela*/
    background-size: cover;
    /*ajusta a imagem ate aproveitar o 100% */
}

.img-div {
    /*clss*/
    padding: 25px;
    background-image: url(imagens/img-div.jpg);
    background-position: center;
    background-size: auto;
}

#clients-list {
    display: inline-flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
    margin-left: 30rem;
}

section>h2 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 50rem;
}

.line {
    width: 25%;
    padding: 1px;
    background-color: aqua;
    margin-left: 47rem;
}


#clients-list>li>img {
margin-right: 5rem;
}

